<div class="container">
  <div class="card p-2" *ngIf="customer; ">
    <div class="card-header"><h4> User Profile</h4></div>
    <div class="card-body">
      <table class="table table-hover ">
        <thead>
        </thead>
        <tbody>
        <tr >
          <th scope="col">ID</th><td>{{customer.id}}</td>
        </tr>
        <tr>
          <th scope="col">First Name</th><td>{{customer.firstName}}</td>
        </tr>
        <tr>
          <th scope="col">Last Name</th><td>{{customer.lastName}}</td>
        </tr>
        <tr>
          <th scope="col">Full Address</th><td>{{customer.address}}</td>
        </tr>
        <tr>
          <th scope="col">Phone Number</th><td>{{customer.phoneNumber}}</td>
        </tr>
        <tr>
          <th scope="col">Email</th><td>{{customer.email}}</td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="previous()" style="float: left;">Previous</button>
    </div>
  </div>
</div>
