<div class="container">
  <ng-template #errors>
    {{errorMessage}}
  </ng-template>
  <div class="card p-2" *ngIf="customers; else errors">
    <div class="card-header"><h4>Customers List</h4></div>
    <div class="card-body">
      <table class="table table-hover ">
        <thead>
        <tr class="order-bottom border-success">
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th></th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers._embedded.customers">
          <td>{{c.id}}</td>
          <td>{{c.firstName}}</td>
          <td>{{c.lastName}}</td>
          <td>{{c.email}}</td>
          <td>
            <button class="btn btn-light" (click)="getAccountDetails(c)">Account Details</button>
          </td>
          <td>
            <button class="btn btn-light" (click)="getBills(c)">Bills</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
